@font-face {
		font-family: "THSarabun";
		src: url("THSarabun.ttf")  format("truetype");
}
@font-face {
		font-family: "THSarabun";
		src: url("THSarabun-Bold.ttf")  format("truetype");
		font-weight: bold;
}
@font-face {
		font-family: "THSarabun";
		src: url("THSarabun-Italic.ttf")  format("truetype");
		font-style: italic, oblique;
}
@font-face {
		font-family: "THSarabun";
		src: url("THSarabun-BoldItalic.ttf")  format("truetype");
		font-weight: bold;
		font-style: italic, oblique;
}
